<% layout("/layouts/boilerplate") -%>
<body>
  <h3>All Listings</h3>
    <!-- <form action="/listings/new" method="get">
        <button>Create New Listing</button>
    </form> -->

    <div class="row">
        <% for(let listing of allListings) { %>
            <div class="card" style="width: 20rem">
                <img src="<%= listing.image %>" class="card-img-top" alt="listing"/>
                <div class="card-body">
                <p class="card-text">
                    <%= listing.title %> <br>
                    &#8377 <%= listing.price.toLocaleString("en-IN") %> / night
                </p>
                </div>
            </div>
        <% } %>
    </div>
</body>
