@import "colors.css";

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
}

.dashboard {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.sidebar {
    background-color: var(--bg-dark);
    width: 25%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    color: var(--text-light);
    border-right: 1px solid var(--border);
}

.sidebar .header {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid var(--border);
    color: var(--text-muted);
}

.sidebar .header h3 {
    font-size: 1.5rem;
    margin-bottom: .5rem;
    color: var(--primary);
}

.sidebar .box {
    background-color: var(--bg-dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 80%;
    padding-block: 1rem;
}

.sidebar form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 1rem;
    gap: .8rem;
}

.sidebar form input {
    width: 100%;
    height: 2rem;
    border-radius: 1rem;
    border: 1px solid var(--border);
    background-color: var(--bg);
    box-shadow: inset 0 0 5px var(--highlight);
    padding: 0 1rem;
    color: var(--text);
    font-size: 1rem;
}

.sidebar .btn {
    background-color: var(--danger);
    padding: .5rem 2rem;
    width: fit-content;
    border-radius: 1rem;
    border: 1px solid var(--border);
    color: var(--text-light);
    font-size: .9rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.sidebar .btn:hover {
    background-color: var(--danger);
}

.sidebar form .btn{
    align-self: end;
    background-color: var(--bg-light);
    color: var(--text);
}

.sidebar form .btn:hover {
    background-color: var(--primary);
}

.sidebar .contacts {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.sidebar .contacts div {
    background-color: var(--bg-light);
    border-block: 1px solid var(--border);
    padding: 1rem;
    cursor: pointer;
    color: var(--text);
}

.chat-box {
    /* background-color: var(--bg-light); */
    background: linear-gradient(135deg, var(--bg-dark) 0%, var(--bg-light) 100%);
    color: var(--text);
    width: 75%;
    height: 100vh;
}

.chat-box .header {
    width: 100%;
    height: 3rem;
    background-color: var(--primary);
    color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    z-index: 1;
}

.chat-box .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 3rem);
    z-index: -1;
}

.chat-box .box form {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    gap: 1rem;
}

.chat-box .box form input {
    width: 90%;
    height: 2.5rem;
    border-radius: 2rem;
    border: transparent;
    padding: 0 2rem;
    background-color: var(--bg-dark);
    color: var(--text);
    font-size: 1rem;
    border: 1px solid var(--border);
    box-shadow: 0 0 5px var(--highlight), inset 0 0 5px var(--highlight);
}

.chat-box .box form button {
    padding: .6rem 2rem;
    border-radius: 1rem;
    border: transparent;
    background-color: var(--primary);
    color: var(--text-light);
    font-size: 1rem;
}

.chat-box .box form button:hover {
    background-color: var(--info);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.chat-box .chats {
    width: 100%;
    height: calc(100% - 5rem);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 2rem;
    gap: 1rem;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.chat-box .chats div {
    padding: .5rem 1rem;
    border-radius: 1rem;
    max-width: 60%;
}

.chat-box .chats .send {
    align-self: end;
    background-color: var(--bg-dark);
    color: var(--text);
}

.chat-box .chats .rec {
    align-self: start;
    background-color: var(--bg);
    color: var(--text);
}

@media (max-width: 789px) {
    .sidebar {
        width: 40%;
    }
}

